h1 {
    font-size: 85px;
}
.brand {
    text-align: center;
}
.map {
    width: 100%;
    height: 300px;
}
.social {
    width: 25px;
    height: 25px;
    align-content: right;
}
.blurb {
    text-align: left;
    padding-left: 9%;
    padding-right: 9%;
}
.blurbcenter {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}